.cart_page {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.page_title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4em;
  margin: 0;
  color: var(--dg-avocado);
}

.cart_container {
  display: flex;
  gap: 20px;
}

.cart_main {
  flex: 1;
}

.cart_items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart_quantity_container {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid rgb(200, 200, 200);
}

.cart_quantity_container>h3 {
  margin: 0;
  text-align: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.cart_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column {
  display: flex;
  justify-content: space-between;
}

.column>span {
  font-size: 0.9em;
}

.column_values>span {
  text-align: end;
}

.empty_container {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.empty_text {
  display: flex;
  align-items: flex-start;
  gap: 0.4em;
  text-align: center;
  font-size: 1.5em;
  color: var(--dk-avocado);
}

@media screen and (width<=900px) {
  .cart_container {
    flex-direction: column-reverse;
  }

  .cart_quantity_container {
    width: auto;
  }
}

@media screen and (width<=750px) {
  .empty_text {
    font-size: 1.3em;
  }
}

@media screen and (width<=500px) {
  .page_title {
    font-size: 10vw;
  }

  .empty_text {
    font-size: 1em;
  }
}