.navbar {
  overflow: hidden;
  box-shadow: 0 0 4px gray;
  padding: 5px;
}

.link {
  display: flex;
  align-items: center;
  position: relative;
  padding: 14px;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.link:hover {
  color: var(--dg-avocado);
}

.link svg {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  font-size: 1.5em;
}

.linkLeft {
  float: left;
}

.linkRight {
  float: right;
}

.cartNumber {
  position: absolute;
  top: 4px;
  left: 30px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: var(--yl-avocado);
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 50%;
}