.container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 10%;
}

.product_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product_info>p {
  margin: 0;
}

.product_name {
  margin: 0;
  color: var(--dk-avocado);
}

.price {
  font-size: 1.8em;
  color: var(--lg-avocado);
  font-weight: 700;
}

.add_to_cart {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 10px;
  background-color: var(--lg-avocado);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}

.product_description h4, .product_details h4 {
  width: fit-content;
  padding-bottom: 2px;
  border-bottom: 4px solid var(--bg-avocado);
  font-size: 1.5em;
  color: var(--dk-avocado);
}

.product_description p {
  text-wrap: balance;
  color: var(--dk-avocado);
}

.product_list {
  list-style-type: circle;
}

.product_list>li {
  padding: 5px;
}

@media screen and (width<=750px) {
  .product_container {
    flex-direction: column;
  }
}